@model project3_ecommerce.Models.SearchViewModel
@using PagedList.Mvc;
@using PagedList;
@{
    ViewData["Title"] = "Các sản phẩm";
}
<style>

    .card-body {
        border: solid 1px;
        border-color: lightgray;
        overflow: hidden;
        cursor: pointer
    }

    .card-footer {
        background-color: whitesmoke;
        padding: 0.5em 0.5em 0.5em 1em;
        border: solid 1px;
        border-color: lightgray;
        vertical-align: middle;
        height: 155px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-bottom: 20px
    }

    .text-muted {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.2em;
    }

    .form-control {
        margin: 0px 10px 10px 0px;
        width: 200px;
    }

    .text-bold {
        font-size: 25px;
        font-weight: bold;
    }

    #search-bar {
        background-color: whitesmoke;
        padding: 5px 10px 10px 10px;
    }

#slideshow {
   overflow: hidden;
   height: 350px;
   width: 1000px;
   margin: 0px auto 0px auto;
   background-color:whitesmoke
 }
.slide-wrapper {
   width: 4000px;
   -webkit-animation: slide 14s ease infinite;
 }
    .slide {
        float: left;
        height: 350px;
        width: 1000px;
    }
@@-webkit-keyframes slide {
   20% {margin-left: 0px;}
   30% {margin-left: -1000px;}
   50% {margin-left: -1000px;}
   60% {margin-left: -2000px;}
   80% {margin-left: -2000px;}
 }

    img {
        width: 100%; height: 100%;object-fit: contain;
    }
</style>
<div style="background-color: whitesmoke; box-shadow: 0 0 0;">
    <div id="slideshow">
        <div class="slide-wrapper">
            <div class="slide"><img src="https://hanoicomputercdn.com/media/banner/01_Nov1cb93447d1dc7161d16a1c39b133baa8.png"></div>
            <div class="slide"><img src="https://hanoicomputercdn.com/media/banner/05_Dec8ecca1735fc3164dce8b351b91c3a5b7.png"></div>
            <div class="slide"><img src="https://hanoicomputercdn.com/media/banner/19_Novf0390753e5ae2de2cc6db0e8ecd949eb.jpg"></div>
        </div>
    </div>
</div>

@using (Html.BeginForm("SearchResult", "Product", FormMethod.Post))
{
    <div id="search-bar" style=" margin: 20px 20px 20px 20px;">
        <h3>Bộ lọc tìm kiếm</h3>
        <div class="container">
            <div class="row">
                @Html.Editor("Name", new { htmlAttributes = new { Class = "form-control col-md-3", @placeholder = "Tên sản phẩm", style = "width: 260px" } })

                @Html.DropDownList("Category", ViewBag.Category_EnumList as SelectList, new { Class = "form-control col-md-3" })

                @Html.Editor("LowerPrice", new { htmlAttributes = new { Class = "form-control col-md-3", @placeholder = "Từ", onkeypress = "return isNumber(event)" } })

                @Html.Editor("UpperPrice", new { htmlAttributes = new { Class = "form-control col-md-3", @placeholder = "Đến", onkeypress = "return isNumber(event)" } })

                <input type="submit" value="Lọc" class="btn btn-secondary col-md-2" style="margin: auto; display: block; width: 50px; background-color: black; color: white" />
            </div>
        </div>
    </div>
}

<h2 style="display: inline;padding:0 5px 0 20px"> Kết quả tìm kiếm </h2>
<span style="color:darkgray;display:inline">(Tổng @ViewBag.ProductSum sản phẩm)</span>
<div class="container" style="margin:10px 0 10px 0">
    @if (Model.ProductModel != null)
    {
        foreach (var product in Model.ProductModel)
        {
            <div class="card col-md-3" style="width: 280px;">
                <div class="card-body" style="height:250px" onclick="redirect(@product.ID)">
                    <img alt="" src="@product.ImagePath" />
                </div>
                <div class="card-footer">
                    <div class="text-muted" onclick="redirect(@product.ID)" style=" cursor: pointer ">@product.Name</div><br />
                    <div class="text-bold">@product.Price.ToString("n0")₫</div>
                    <input type="button" value="Đặt hàng" class="btn btn-sm" style="float:right;background-color:black;color:white;margin:3px 3px 3px 3px" onclick="AddToCart(@product.ID)">
                </div>
            </div>
        }
    }




</div>
<div style="text-align:center">
    @if (Model.ProductModel != null)
    {
        @Html.PagedListPager(Model.ProductModel, page => Url.Action("SearchResult", "Product", new { Name = ViewBag.Name, Category = ViewBag.Category, LowerPrice = ViewBag.LowerPrice, UpperPrice = ViewBag.UpperPrice, page }),
                 new PagedListRenderOptions
                 {
                     MaximumPageNumbersToDisplay = 5,
                 })
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    function AddToCart(ID) {
        $.ajax({
            url: '@Url.Action("AddToCart")',
            type: 'POST',
            data: jQuery.param({ ID: ID, quantity: 1 }),
            success: function () {
                toastr.success("Đã thêm sản phẩm vào giỏ hàng, xin kiểm tra.","Thông báo");
            },
            error: function () {
                toastr.error("Có lỗi trong việc thêm sản phẩm vào giỏ hàng.","Lỗi!");
            },
        });
        return false;
    }

    function redirect(ID) {
        var url = '@Url.Action("Details", "Product", new { id = "__id__" })';
        window.location.href = url.replace('__id__', ID);
    }
    </script>
}
